
<div class="hero-unit">
  <h1>Welcome to UriBox!</h1>

  <p>Sharing knowledge between coworkers couldn't be easier now.</p>

  <p>
    <%= link_to( "Join now. It's totally free!", join_path,
          :id    => "join-now", :class => "btn btn-primary btn-large" ) %>
  </p>
</div>
